@import "./mixins";

.content {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    h1 {
        font-size: 86px;
        margin-block-start: 0px !important;
        margin-block-end: 0px !important;
        animation: fadeIn ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    h2, h3 {
        font-family: 'Barlow', sans-serif;
        letter-spacing: 4.15px;
    }
    h2 {
        font-size: 20px;
        color: rgb(221, 221, 221);
        animation: fadeIn ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    h3 {   
        font-size: 16px;
        color: rgb(141, 141, 141);
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .name {
        a{
        color: white;
        }
        a:hover {
            text-decoration: none !important;
        }
        @include sm {
            line-height: 72px;
            padding-bottom: 2rem;
        }
    }
    .desc-two {
        margin-bottom: 12rem !important;
    }
    .contact-list{
        position: absolute;
        display: flex;
        right: 1.2%;
        justify-content: space-between;
        flex-direction: column;
        top: 12%;
        animation: fadeIn ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        
        @include sm {
            right: 39%;
            top: 2%;
            flex-direction: row;
            animation: fadeIn ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        svg {
            margin: 10px 0;
            opacity: .5;
            color: grey;
            @include sm{
                margin: 0 5px;
            }
        }
        svg:hover {
            opacity: 1;
            color: white;
        }
    }
    .v1-container {
        position: absolute;
        right: 1%;
        top: 0%;
        transform: rotate(-90deg);
        width: 75px;
        height: 55px;
        border-bottom: solid;
        border-color: #fff;
        border-width: 0.5px;
        opacity: 1;
        animation: fadeIn ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        @include sm {
            visibility: hidden;
            animation: fadeIn ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
    }
    .video-container {
        height: 250px;
        position: absolute;
        bottom: .5%;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    #video {
        height: inherit;
        width: 100%;
        object-fit: cover;
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .arrow-div{
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        z-index: 2;
        .arrow {
            filter: invert(1);
            animation: fadeIn ease 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        .arrow:focus {
            outline: none;
        }
    }
    html.dark-mode {
        filter: invert(90%);
    }
}

// F U L L P A G E   S T Y L E   T W E A K S //
#fp-nav {
    top: 45% !important;
    @include sm {
        visibility: hidden !important;
    }
}

.fp-tooltip.fp-right {
    transform: rotate(90deg);
    animation: fadeIn ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Barlow', sans-serif !important;
    text-transform: uppercase !important;
    // clip-path: polygon(53% 0, 0 0, 100% 0);
    // clip: none !important;
    margin-right: 5px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #fff !important;
}

.projects-container {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// H O M E   N A V   S T Y L I N G //
.home-nav {
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    top: 5%;
    z-index:1;
    @include sm {
        top: .5%!important;
        left: 2%;
        justify-content: flex-start;
    }
    @include mb {
        top: 2%;
    }
    .home {
        text-align: center;
        background-color: transparent;
        border: transparent;
        color: white;
        font-family: 'Poiret One', cursive;
        font-size: 16px;
        letter-spacing: 2px;
    }
}

// P R O J E C T   P A G E   S T Y L E S //
.content1 {
    display: flex;
    justify-content: center;

    @include sm {
        margin: 4rem 0;
    }
}

.img-container{
    @include xl{
        position: fixed;
        /* width: 1460px; */
        height: 100%;
        right: 0;
        background-image: url(../../media/images/van-doan-proj-img.jpeg);
        background-repeat: no-repeat;
        width: 50%;
        opacity: 8%;
        font-size: 30px;
        background-size: cover;
        background-position: bottom;
        animation: fadeInAndOut ease-in-out 3s;
        animation-direction:alternate;
        animation-iteration-count: infinite;
        }
    }

.fp-content {
    display: flex;
    .project-card {
        @include sm {
            margin: 6rem 0 0;
        }

        @include lg {
            margin: 14rem 0 0;
        }
        @include xl {
            margin: 11rem 0 0;
        }
    }
    .project-img {
        width: 800px;
        @include sm{

        }
    }
    .project-img:hover {
        opacity: 1;
    }
    
    .proj-title {
        font-size: 50px;
        @include sm {
            font-size:30px;
        }
    }

    .proj-container {

        @include sm {

        }
    }
    .proj {

    }
    .proj-line-container, .proj-line-container2 {

    }
    .proj-line-text {

    }
    .proj-text {

    }
    .proj-a {
        color: white;
        text-decoration: none;
    }
}

.proj-archives {
    font-size: 20px !important;
    text-decoration: underline;
}

.project-archive-card {
    @include sm {
        margin: 6rem 0 0;
    }
    @include lg {
        margin: 4rem 0 0;
    }

    @include xl {
        margin: 4rem 0 0;
    }
}

.proj-archives {
    height: 80px;
}

.proj-archives a {
    color: rgb(179, 179, 179) !important;
}

.project-spacer-container {
    display: flex;
    justify-content: center;
}
.project-spacer {
    @include sm {
        height: 60px;
        width: 300px;
        border: #fff solid .5px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 40px;
    }
    @include lg {
        height: 200px;
        width: 600px;
        border: #fff solid .5px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 40px;
    }
    @include xl {
        height: 100px;
        width: 600px;
        border: #fff solid .5px;
        border-top: none;
        border-right: none;
        border-left: none;
        margin-bottom: 40px;
    }
}

.iScrollVerticalScrollbar.iScrollLoneScrollbar {
    width: 0px;
}

.generic-footer {
    
    @include lg {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }

    @include xl {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 50px;
    }
    @include sm {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInAndOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 6%;
    }
}
