// Fonts used:
// font-family: 'Barlow', sans-serif;
// font-family: 'Catamaran', sans-serif;
// font-family: 'Poiret One', cursive;

@import "./mixins";

.content {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    h1 {
        font-size: 86px;
        margin-block-start: 0px !important;
        margin-block-end: 0px !important;
        animation: fadeIn ease 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    h2, h3 {
        font-family: 'Barlow', sans-serif;
        letter-spacing: 4.15px;
    }
    h2 {
        font-size: 20px;
        color: rgb(221, 221, 221);
        animation: fadeIn ease 1.5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    h3 {   
        font-size: 16px;
        color: rgb(141, 141, 141);
        animation: fadeIn ease 2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    }
    .name {
        a{
        color: white;
        }
        a:hover {
            text-decoration: none !important;
        }
        @include sm {
            line-height: 72px;
            padding-bottom: 2rem;
        }
    }
    .desc-two {
        margin-bottom: 12rem !important;
    }
    .contact-list{
        position: absolute;
        display: flex;
        right: 1.2%;
        justify-content: space-between;
        flex-direction: column;
        top: 12%;
        @include sm {
            right: 39%;
            top: 2%;
            flex-direction: row;
        }
        svg {
            margin: 10px 0;
            opacity: .5;
            color: grey;
            @include sm{
                margin: 0 5px;
            }
        }
        svg:hover {
            opacity: 1;
            color: white;
        }
    }
    .v1-container {
        position: absolute;
        right: 1%;
        top: 0%;
        transform: rotate(-90deg);
        width: 75px;
        height: 55px;
        border-bottom: solid;
        border-color: #fff;
        border-width: 0.5px;
        opacity: 1;
        @include sm {
            visibility: hidden;
        }
    }
    .video-container {
        height: 250px;
        position: absolute;
        bottom: .5%;
        left: 0;
        width: 100%;
        z-index: 1;
    }
    #video {
        height: inherit;
        width: 100%;
        object-fit: cover;
    }
    .arrow-div{
        position: absolute;
        bottom: 5%;
        left: 0;
        width: 100%;
        z-index: 2;
        .arrow {
            filter: invert(1)
        }
        .arrow:focus {
            outline: none;
        }
    }
    html.dark-mode {
        filter: invert(90%);
    }
}

// F U L L P A G E   S T Y L E   T W E A K S //
#fp-nav {
    top: 45% !important;
    @include sm {
        visibility: hidden !important;
    }
}

.fp-tooltip.fp-right {
    transform: rotate(90deg);
}

#fp-nav ul li .fp-tooltip {
    font-family: 'Barlow', sans-serif !important;
    text-transform: uppercase !important;
    // clip-path: polygon(53% 0, 0 0, 100% 0);
    // clip: none !important;
    margin-right: 5px;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #fff !important;
}

.projects-container {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// H O M E   N A V   S T Y L I N G //
.home-nav {
        display: flex;
        position: absolute;
        width: 100%;
        justify-content: center;
        top: 5%;
        z-index:1;
        @include sm {
            top: .5%!important;
            left: 2%;
            justify-content: flex-start;
        }
        @include mb {
            top: 2%;
        }
        .home {
            text-align: center;
            background-color: transparent;
            border: transparent;
            color: white;
            font-family: 'Poiret One', cursive;
            font-size: 16px;
            letter-spacing: 2px;
        }
    }

// P R O J E C T   P A G E   S T Y L E S //
.content1 {
    @include sm {
        margin: 4rem 0;
    }
}

.fp-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: wrap;
    .project-card {
        height: 250px;
        margin: 4rem 3rem;
        flex-direction: column;
    }
    .project-img {
        height: 100%;
        border-radius: 10px;
        width: 450px;
        opacity: .8;
        filter: invert(0) !important;
        @include sm{
            width: 400px;
        }
    }
    .project-img:hover {
        opacity: 1;
    }
    .proj-title {
        margin: -1.2rem 0;
        display: flex;
        position: relative;
        z-index: 2;
        justify-content: center;
        font-family: 'Trykker', serif;
        font-size: 30px;
        mix-blend-mode: difference;
    }
    .proj-container {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        justify-content: flex-end;
        @include sm {
            justify-content: center;
        }
    }
    .proj {
        flex-direction: column;
        display: flex;
        width: 30px;
        align-items: center;
    }
    .proj-line-container, .proj-line-container2 {
        border-bottom: solid;
        border-bottom-width: thin;
        width: 30px;
        transform: rotate(90deg);
    }
    .proj-line-text {
        transform: rotate(90deg);
        width: 20%;
        margin: 1em 0;
    }
    .proj-text {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        font-size: 12px;
        font-family: 'Barlow';
    }
    .proj-a {
        color: white;
        text-decoration: none;
    }
}

.generic-footer {
    display: flex;
    position: absolute;
    bottom: 3%;
    left: 45%;
    width: 100%;
    @include sm {
        display: flex;
        position: absolute;
        bottom: 20px;
        left: 25%;
        width: 100%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}