@import "./mixins";

.about-modal{
    display: flex;
    position: fixed;
    left: 2%;
    top: 45%;
    transform: rotate(-90deg);
    z-index: 10000;
    .about {
        font-family: 'Poiret One', sans-serif;
        color: #fff;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        cursor: pointer;
    }
    @include sm{
        top: 2.2% !important;
        left: 80%;
        transform: none;
    }
}
.modal {
    position:fixed;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 55%;
    height: 90%;
    width: 90%;
    transform: translate(-50%, -50%);
    @include sm {
        left: 93%;
    }
}
.ReactModal__Content.ReactModal__Content--after-open.modal:focus, .aboutme:focus {
    outline: 0 !important;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .95);
    height: 100vh;
}
.about-section {
    @include sm {
     width: 100vw;   
    }
}
.about-section2 {
    text-align: center;
    margin-right: -8rem;
    @include sm {
        visibility: hidden;
    }
}
.aboutme {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    align-items: center;
    padding: 9rem;
}
.headsection, .greeting2 {
    color: grey;
    font-size: 2.5rem !important;
}
.highlight, .greeting {
    color: #fff !important;  
    font-size: 3rem !important;
}
.greeting, .greeting2 {
    @include sm {
        margin: 0 0;   
       }
}
.desc {
    line-height: 22px;
    color: grey;
    margin: 8px;
}
.subsection {
    display: inline-flex;
    flex-direction: column;
    width: 50%;
}
.headshot{
    border-radius: 50%;
    width: 40%;
}
.subdesc {
    @include sm {
        margin: 0
    }
}
.exp-desc{
    color: darkgrey;
    font-size: 16px;
}
.exp-date {
    color: grey;
    font-size: 15px;
    font-style: italic;
    margin: 4px 0 14px;
}
.company-link {
    color: darkgrey;
}
.techstack {
    width: 100%;
    max-width: 992px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin-top: 3rem;
    .type {
        display: block;
        flex-direction: row;
        justify-content: center;
        flex-flow: nowrap;
        .title {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
            margin-bottom: 12px;
        }
        .icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 2rem;
        }
        .single-icon {
            display: table-cell;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .icon {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 3px 1rem;
        }
        .label {
            margin-top: 6px;
        }
    }
}